<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <context:component-scan base-package="dv.trunov"/>
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="instrumentalMusic"
          class="dv.trunov.InstrumentalMusic"
          factory-method="getInstrumentalMusic">
    </bean>

    <bean id="musicPlayer"
          class="dv.trunov.MusicPlayer"
          scope="prototype"
          init-method="init"
          destroy-method="destroy">
        <property name="musicList" ref="musicList"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

    <util:list id="musicList" value-type="dv.trunov.Music">
        <ref bean="instrumentalMusic"/>
        <ref bean="rockMusic"/>
        <ref bean="ambientMusic"/>
    </util:list>

</beans>
